.fim-batalha-versus {
  border: double 5px var(--blue);
  background-color: var(--fundo-janela);
  box-shadow: var(--box-interior);
  animation: fim-batalha-versus 10s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1% 2%;
}

.fim-batalha-versus .botao-primario {
  margin: 5px;
  font-size: 2rem;
  width: 95%;
}

.fim-batalha-versus section {
  background-color: var(--fundo-janela);
}

@keyframes resultado {
  0% {
    top: 50%;
    transform: translateY(-50%);
    font-size: 0px;
  }
  15% {
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
  }
  35% {
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
    font-size: 64px;
  }
  100% {
    top: 3%;
    transform: translateY(0%);
  }
}

@keyframes fim-batalha-versus {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@media screen and (max-height: 479px) {
  .fim-batalha-versus {
    width: 55%;
    height: 60%;
  }
}
