div .modal .modal-item-lista {
  width: 90%;
  height: 90%;
  background-color: var(--fundo-modal);
  box-shadow: var(--box-interior);
  border: double 5px var(--blue);
  position: relative;
}

div .modal .modal-item-lista section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div .modal .modal-item-lista section .item-lista-esquerda {
  height: 100%;
  width: 32vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div .modal .modal-item-lista section .item-lista-esquerda header {
  background-color: var(--blue);
  width: 100%;
  border: solid 2px var(--dark-blue);
  border-bottom: none;
}

div .modal .modal-item-lista section .item-lista-esquerda header h1 {
  font-size: 2rem;
  margin: 5px;
  text-align: center;
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
  background-color: var(--fundo-janela);
  overflow-y: auto;
  border: solid 2px var(--dark-blue);
  box-shadow: var(--box-interior);
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens h1 {
  font-weight: 100;
  width: 85%;
  margin-left: 10%;
  text-align: center;
  font-size: 1.5rem;
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li {
  width: 5vw;
  height: 5.5vw;
  border: solid 2px var(--black);
  background: var(--card-4-estrelas);
  margin: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  transition: all 0.1s;
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li:hover {
  transition: all 0.1s;
  box-shadow: var(--light-blue) 0px 0px 5px 2px, var(--light-blue) 0px 0px 0px 2px;
  cursor: var(--cursor-pointer);
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li .quantidade {
  margin: 0;
  width: 100%;
  text-align: right;
  margin-bottom: -24px;
  padding-right: 5px;
  position: relative;
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li .personagem-equipado {
  height: 35%;
  position: relative;
  top: 35%;
  margin-top: -38%;
  filter: drop-shadow(1px 1px 3px var(--white));
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul .item-escolhido {
  transition: all 0.1s;
  cursor: auto;
  width: 5vw;
  height: 5.5vw;
  box-shadow: var(--box-brilho);
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul .item-escolhido:hover {
  box-shadow: var(--box-brilho);
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li img {
  height: 85%;
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li footer {
  padding: 0;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  box-shadow: none;
  background-color: var(--light-grey);
  transition: all 0.1s;
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li footer ul {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li:hover footer {
  transition: all 0.1s;
  background-color: var(--white);
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul .item-escolhido footer {
  background-color: var(--white);
}

div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul li .estrelas img {
  position: relative;
  bottom: 0.5rem;
  height: 1rem;
}

div .modal .modal-item-lista section .selecionar-item {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div .modal .modal-item-lista section .selecionar-item h1 {
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

div .modal .modal-item-lista section .item-detalhes {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div .modal .modal-item-lista section .item-detalhes img {
  height: 95%;
}

div .modal .modal-item-lista section .item-detalhes .detalhes {
  position: absolute;
  left: 40%;
  top: 5%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px var(--dark-blue);
}

div .modal .modal-item-lista section .item-detalhes .detalhes header {
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
}

div .modal .modal-item-lista section .item-detalhes .detalhes header:hover {
  background-color: var(--dark-blue);
  cursor: var(--cursor-pointer);
  transition: all 0.1s;
}

div .modal .modal-item-lista section .item-detalhes .detalhes header h1 {
  font-size: 2rem;
  margin: 5px;
}

div .modal .modal-item-lista section .item-detalhes .detalhes header .botao-fechar-modal {
  background: none;
  margin: 0;
  top: 0;
  margin: 0 5px;
  right: 0;
  padding: 0;
  border: none;
  transition: all 0.1s;
  opacity: 50%;
}

div .modal .modal-item-lista section .item-detalhes .detalhes header:hover .botao-fechar-modal {
  transition: all 0.1s;
  opacity: 100%;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section {
  height: 100%;
  background-color: var(--fundo-janela);
  box-shadow: var(--box-interior);
  display: flex;
  justify-content: space-between;
  border-top: solid 2px var(--dark-blue);
  min-height: 50vh;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  max-height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div ul {
  padding: 0;
  margin: 0;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div ul li {
  margin: 5px 0;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div h1 {
  margin: 0.6rem 0.3rem;
  font-weight: 100;
  font-size: 1.75rem;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div h2 {
  margin: 0.3rem;
  font-weight: 100;
  font-size: 1.2rem;
  text-shadow: var(--borda-texto);
  color: var(--texto-destaque);
  background-color: var(--fundo-destaque);
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div h2 span {
  text-shadow: var(--borda-texto);
  color: var(--white);
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div li .estrelas {
  margin-left: 5px;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div li .estrelas img {
  height: 1rem;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div li {
  display: flex;
  flex-direction: row;
  background-color: var(--fundo-destaque);
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div li h2 {
  margin: 0;
  margin-left: 5px;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div li ul {
  margin: 0;
  padding: 0;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div .bonus-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div .bonus-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-shadow: var(--borda-texto);
}

div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div .bonus-list ul li img {
  height: 1rem;
  margin-right: 0.5rem;
  filter: drop-shadow(-1px 1px 5px var(--grey));
}

div .modal .modal-item-lista section .item-detalhes .detalhes button {
  margin: 10px 0;
}

@media screen and (max-height: 479px) {
  div .modal .modal-item-lista section .item-lista-esquerda .lista-itens {
    width: 40%;
  }
  div .modal .modal-item-lista section .item-lista-esquerda .lista-itens ul .item-escolhido {
    width: 5rem;
    height: 5.5rem;
  }
  div .modal .modal-item-lista section .selecionar-item {
    width: 55%;
  }
  div .modal .modal-item-lista section .selecionar-item h1 {
    font-size: 2rem;
  }
  div .modal .modal-item-lista section .item-detalhes .detalhes {
    left: 45%;
    top: 10%;
    height: 75%;
  }
  div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div h1 {
    font-size: 1.5rem;
  }
  div .modal .modal-item-lista section .item-detalhes .detalhes .detalhes-section div h2 {
    font-size: 1rem;
  }
  div .modal .modal-item-lista section .item-detalhes {
    width: 55%;
  }
  div .modal .modal-item-lista header h1 {
    font-size: 2rem;
  }
}
