
div .modal .detalhes-item-modal {
    width: 65%;
    height: 85%;
    background-color: var(--fundo-janela);
    box-shadow: var(--box-interior);
    border: double 5px var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div .modal .detalhes-item-modal section section img {
    height: 90%;
}

div .modal .detalhes-item-modal header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div .modal .detalhes-item-modal header h1{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 1rem;
}

div .modal .detalhes-item-modal header button {
    background-color: var(--white);
    border: none;
    border-bottom: double 5px var(--blue);
    border-left: double 5px var(--blue);
    font-size: 2rem;
    font-family: textFont, sans-serif;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    color: var(--blue);
    transition: all 0.1s;
}

div .modal .detalhes-item-modal header button:hover {
    background-color: var(--light-blue);
    transition: all 0.1s;
}


div .modal .detalhes-item-modal section {
    height: 90%;
    width: 100%;
    display: flex;
}

div .modal .detalhes-item-modal section section {
    height: 100%;
    width: 50%;
}

div .modal .detalhes-item-modal section section .item-detalhes {
    width: 100%;
    justify-content: center;
}

div .modal .detalhes-item-modal section section .item-detalhes img {
    width: 0%;
    height: 0%;
}

div .modal .detalhes-item-modal section section .item-detalhes .estrelas img {
    width: auto;
    height: 1rem;
}

div .modal .detalhes-item-modal section section .item-detalhes .detalhes {
    position: static;
    height: 85%;
    width: 75%;
    overflow-y: auto;
}


div .modal .detalhes-item-modal section .item-detalhes {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div .modal .detalhes-item-modal section .item-detalhes img {
    height: 95%;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes {
    position: absolute;
    left: 40%;
    top: 20%;
    height: 65%;
    width: 25%;
    background-color: var(--background-text);
    background-image: url(../../../assets/img/textures/DEGRADE_CIRCULO.png);
    background-size: cover;
    background-position: center;
    border: double 4px var(--grey);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div {
    width: 100%;
    display: flex;
    align-items: self-start;
    flex-direction: column;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div h1 {
    margin: 0.6rem 0.3rem;
    font-weight: 100;
    font-size: 1.75rem;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div h2 {
    margin: 0.3rem;
    font-weight: 100;
    font-size: 1.2rem;
    text-shadow: var(--borda-texto);
    color: var(--texto-destaque);
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div h2 span{
    text-shadow: var(--borda-texto);
    color: var(--white);
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div
div .estrelas {
    margin-left: 5px;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div
div .estrelas img {
    height: 1rem;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div
div {
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div
div h2 {
    margin: 0;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div
div ul {
    margin: 0;
    padding: 0;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div
.bonus-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div
.bonus-list ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-shadow: var(--borda-texto);
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes div
.bonus-list ul li img {
    height: 1rem;
    width: auto;
    margin-right: 0.5rem;
    filter: drop-shadow(-1px 1px 5px var(--grey));
}


@media screen and (max-height: 479px) {

    div .modal .detalhes-item-modal header h1 {
        font-size: 1.75rem;
    }
    div .modal .detalhes-item-modal section .item-detalhes .detalhes div h1 {
        font-size: 1.5rem;
    }
    div .modal .detalhes-item-modal section .item-detalhes .detalhes div h2 {
        font-size: 1rem;
    }
  
}