div .modal .detalhes-item-modal {
  width: 65%;
  height: 85%;
  background-color: var(--fundo-modal);
  box-shadow: var(--box-interior);
  border: double 5px var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

div .modal .detalhes-item-modal section {
  height: 100%;
  width: 100%;
  display: flex;
}

div .modal .detalhes-item-modal section section {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div .modal .detalhes-item-modal section section img {
  width: 100%;
  height: auto;
}

div .modal .detalhes-item-modal section section .item-detalhes {
  width: 100%;
  justify-content: center;
}

div .modal .detalhes-item-modal section section .item-detalhes img {
  width: 0%;
  height: 0%;
}

div .modal .detalhes-item-modal section section .item-detalhes .estrelas img {
  width: auto;
  height: 1rem;
}

div .modal .detalhes-item-modal section section .item-detalhes .detalhes {
  position: static;
  height: 85%;
  width: 75%;
  overflow-y: auto;
}

div .modal .detalhes-item-modal section .item-detalhes {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div .modal .detalhes-item-modal section .item-detalhes img {
  height: 95%;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes {
  position: absolute;
  left: 40%;
  top: 5%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px var(--dark-blue);
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes header {
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes header h1 {
  font-size: 2rem;
  margin: 5px;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section {
  height: 100%;
  background-color: var(--fundo-janela);
  box-shadow: var(--box-interior);
  display: flex;
  justify-content: space-between;
  border-top: solid 2px var(--dark-blue);
  min-height: 50vh;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  max-height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div ul {
  padding: 0;
  margin: 0;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div ul li {
  margin: 5px 0;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div h1 {
  margin: 0.6rem 0.3rem;
  font-weight: 100;
  font-size: 1.75rem;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div h2 {
  margin: 0.3rem;
  font-weight: 100;
  font-size: 1.2rem;
  text-shadow: var(--borda-texto);
  color: var(--texto-destaque);
  background-color: var(--fundo-destaque);
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div h2 span {
  text-shadow: var(--borda-texto);
  color: var(--white);
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div li .estrelas {
  margin-left: 5px;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div li .estrelas img {
  height: 1rem;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div li {
  display: flex;
  flex-direction: row;
  background-color: var(--fundo-destaque);
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div li h2 {
  margin: 0;
  margin-left: 5px;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div li ul {
  margin: 0;
  padding: 0;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div .bonus-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div .bonus-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-shadow: var(--borda-texto);
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes .detalhes-section div .bonus-list ul li img {
  height: 1rem;
  margin-right: 0.5rem;
  filter: drop-shadow(-1px 1px 5px var(--grey));
  width: auto;
}

div .modal .detalhes-item-modal section .item-detalhes .detalhes button {
  margin: 10px 0;
}

@media screen and (max-height: 479px) {
  div .modal .detalhes-item-modal header h1 {
    font-size: 1.75rem;
  }
  div .modal .detalhes-item-modal section .item-detalhes .detalhes div h1 {
    font-size: 1.5rem;
  }
  div .modal .detalhes-item-modal section .item-detalhes .detalhes div h2 {
    font-size: 1rem;
  }
}
