
.versus-mapas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: var(--white);
    text-shadow: var(--borda-texto-sombra);
    background:
    linear-gradient(90deg, var(--background-text) 100%, rgba(255,255,255,0) 100%),
    var(--fundo-mapa)
    ;
    background-size: 105%;
    background-position: center;
    animation: leftToRight 15s infinite alternate-reverse ease-in-out;
}

.versus-mapas .titulo {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: double 5px var(--blue);
    background-color: var(--grey);
    box-shadow: var(--box-interior);
}

.versus-mapas .titulo h1 {
    font-size: 2rem;
    margin: 0.8rem 0;
}


.versus-mapas .mapas-list {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.versus-mapas .mapas-list header {
    height: 15%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-mapas .mapas-list header div {
    height: 100%;
    padding: 0 1rem;
    background-color: var(--black-transparent);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.versus-mapas .mapas-list header div h1 {
    margin: 0;
    font-size: 2rem;
}

.versus-mapas .mapas-list section {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: double 5px var(--blue);
    background-color: var(--black-transparent);
}

.versus-mapas .mapas-list section .setas {
    height: 3rem;
    width: 3rem;
    border: none;
    background: none;
    opacity: 50%;
    margin: 0 0.5rem;
}

.versus-mapas .mapas-list section .setas:hover {
    opacity: 100%;
}

.versus-mapas .mapas-list section .setas img {
    height: 100%;
}

.versus-mapas .mapas-list section ul {
    width: 77vw;
    height: 100%;
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    display: flex;
    align-items: self-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: double 5px var(--blue);
    border-right: double 5px var(--blue);
    background-color: var(--black-transparent);
}

.versus-mapas .mapas-list section ul li {
    margin: 2px;
    height: 7vw;
    width: 7vw;
    border: solid 2px var(--black);
    background-size: cover;
}

.versus-mapas .mapas-list section ul li:hover {
    cursor: var(--cursor-pointer);
    border-color: var(--cyan);
    filter: brightness(125%);
    box-shadow: var(--box-brilho);
}

.versus-mapas .mapas-list section ul .card-escolhido {
    border-color: var(--cyan);
    filter: brightness(125%);
    box-shadow: var(--box-brilho);
}

.versus-mapas .mapas-list section ul li img {
    height: 100%;
}

.versus-mapas .menu-opcoes {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: self-start;
    justify-content: center;
    border-top: double 5px var(--blue);
    background-color: var(--grey);
    box-shadow: var(--box-interior);
}

.versus-mapas .menu-opcoes button {
    margin: 0.5rem;
}

.versus-mapas .menu-opcoes .paginacao {
    position: absolute;
    right: 10%;
    margin: 0 1rem;
    font-weight: 100;
    font-size: 2rem;
}



@media screen and (max-height: 479px) {

    .versus-mapas .menu-opcoes button {
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }

    .versus-mapas .mapas-list section ul li {
        margin: 0;
        height: 7vw;
        width: 7vw;
    }

    .versus-mapas .mapas-list header div h1 {
        font-size: 1.5rem;
    }

    .versus-mapas .menu-opcoes .paginacao {
        font-size: 1.5rem;
    }
}