
div .header {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../assets/img/textures/HEADER.png);
    background-size: cover;
}

div .header .header-top {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
}

div .header .header-top .header-logo {
    position: absolute;
    height: 10vh;
    left: 1rem;
    transition: all 0.1s;
    z-index: 999;
}

div .header .header-top img {
    height: 95%;
    transition: all 0.1s;
}

div .header .header-top img:hover {
    transition: all 0.1s;
    filter: drop-shadow(-2px 2px 5px var(--background-text));
    cursor: pointer;
}

div .header .header-top ul {
    margin: 0;
    width: 50%;
    height: 140%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div .header .header-top .header-config {
    position: absolute;
    height: 8vh;
    top: 10px;
    right: 1rem;
    transition: all 0.1s;
    z-index: 999;
}

div .header .header-bottom {
    width: 100%;
    height: 25%;
    background-color: #1e4394b6;
    border-top: 2px solid #7CB7FE;
    filter: drop-shadow(0px -1px 5px #7CB7FE);
}