.cena-screen {
  width: 100%;
  height: 100%;
  background-size: 105%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--black);
  display: flex;
  align-items: self-end;
  justify-content: space-between;
  animation: leftToRight 15s alternate-reverse infinite ease-in-out;
}

.cena-screen .cena-dialogo {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: flex-end;
}

.cena-screen .cena-dialogo div {
  height: 50%;
  width: 40%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: self-end;
}

.cena-screen .cena-dialogo div img {
  height: 115%;
  transform: scaleX(-1);
  margin-left: 5%;
}

.cena-screen .cena-dialogo div h1 {
  margin: 0;
  border: double 5px var(--blue-grey);
  border-radius: 15px 15px 0 0;
  background-color: var(--black-transparent);
  text-shadow: var(--borda-texto);
  color: var(--white);
  font-weight: 300;
  font-size: 2rem;
  padding: 0.3rem 1.5rem;
  position: relative;
}

.cena-screen .cena-dialogo p {
  margin: 0;
  margin-bottom: 0.5rem;
  margin-left: 5%;
  width: 90%;
  height: 50%;
  border: double 5px var(--blue-grey);
  border-radius: 15px;
  background-color: var(--black-transparent);
  text-shadow: var(--borda-texto);
  color: var(--white);
  font-size: 2rem;
  padding: 10px 15px;
  cursor: var(--cursor-pointer);
}

.cena-screen .cena-dialogo p img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  position: relative;
  top: 5px;
  animation: seta-continuar-1 1s infinite alternate-reverse ease-in-out;
}

.cena-screen .continuar-button {
  background: none;
  border: none;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-family: titleFont, sans-serif;
  font-size: 3rem;
  text-shadow: var(--borda-texto);
  color: var(--white);
  display: flex;
  align-items: center;
  height: 5rem;
  animation: seta-continuar 2s infinite alternate-reverse ease-in-out;
}

.cena-screen .continuar-button img {
  height: 75%;
  margin: 0 5px;
}

.pular-button {
  background: none;
  border: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-family: titleFont, sans-serif;
  font-size: 2rem;
  text-shadow: var(--borda-texto);
  color: var(--white);
  display: flex;
  align-items: center;
  height: 3rem;
  opacity: 25%;
  transition: all 0.1s;
}

.pular-button:hover {
  transition: all 0.1s;
  opacity: 100%;
}

.pular-button img {
  height: 75%;
  margin: 0 5px;
}

@keyframes seta-continuar {
  from {
    margin: 0;
  }
  to {
    margin: 0 10px;
  }
}

@keyframes seta-continuar-1 {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}

@media screen and (max-height: 479px) {
  .cena-screen .cena-dialogo div h1 {
    font-size: 1.5rem;
  }

  .cena-screen .cena-dialogo p {
    font-size: 1.5rem;
  }
}
