.versus-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../assets/img/backgrounds/VERSUS.png);
  background-size: 105%;
  animation: leftToRight 20s alternate-reverse ease-in-out infinite;
}
