.batalha-screen .campo-de-batalha section div section div {
  width: fit-content;
  height: 55%;
  display: flex;
  flex-direction: column;
}

.batalha-screen .campo-de-batalha section div .inimigo-gigante div {
  width: fit-content;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.batalha-screen .campo-de-batalha section div section div .acao-effect {
  position: relative;
  margin-top: -100%;
  min-height: 100%;
  max-height: 100%;
}

.batalha-screen .campo-de-batalha section .inimigos section div .acao-effect {
  transform: scaleX(-1);
}

.batalha-screen .campo-de-batalha section div section div .sprite-personagem {
  animation: battle-personagem 1s alternate infinite ease-in-out;
  height: 100%;
}

.batalha-screen
  .campo-de-batalha
  section
  .inimigos
  section
  div
  .sprite-personagem {
  transform: scaleX(-1);
  animation: battle-inimigo 1s alternate infinite ease-in-out;
}

.batalha-screen .campo-de-batalha section div section div .icones-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 17%;
  width: 34%;
  margin-bottom: -17%;
  top: -17%;
}

.batalha-screen .campo-de-batalha section div section div .icones-container img {
  position: relative;
  z-index: 999;
  animation: icone-ativo 1s infinite alternate-reverse ease-in-out;
}

.batalha-screen .campo-de-batalha section div section div .icones-container .icone-ativo {
  height: 100%;
  width: 50%;
}

.batalha-screen .campo-de-batalha section div section div .icones-container .icone-dado-resistencia {
  position: relative;
  z-index: 999;
  height: 2.5vw;
  width: 2.5vw;
  margin-left: -2.5vw;
  background-position: center;
  background-size: cover;
  transform: rotate(1080deg);
  color: var(--white);
  text-shadow: var(--borda-texto);
  font-family: titleFont, sans-serif;
  font-size: 1.25rem;
  transition: all 0.3s;
  animation: rolar-dado-resistencia 3s ease-in-out;
  opacity: 0%;
}

.batalha-screen .campo-de-batalha section div section div .icones-container .icone-defesa {
  position: relative;
  z-index: 1000;
  height: 2.5vw;
  width: 2.5vw;
  margin-left: -2.5vw;
  background-image: url(../../../../assets/img/icons/SHIELD.png);
  background-position: center;
  background-size: cover;
  transform: rotate(1080deg);
  color: var(--white);
  font-family: titleFont, sans-serif;
  font-size: 1.25rem;
  transition: all 0.3s;
  opacity: 0%;
}

.batalha-screen .campo-de-batalha section div section div .icones-container .icone-vantagem {
  height: 65%;
  margin-left: -40%;
  position: relative;
  left: 40%;
}

.batalha-screen .campo-de-batalha section div section div section {
  position: relative;
  bottom: 10%;
  width: 100%;
  height: 30%;
  color: white;
  text-shadow: var(--borda-texto);
  justify-content: center;
}


.batalha-screen .campo-de-batalha section div section div section div {
  height: 25%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  color: white;
  text-shadow: var(--borda-texto);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.batalha-screen .campo-de-batalha section div section div section div img {
  height: 100%;
  margin-right: -1vw;
  position: relative;
  right: 1.25vw;
  filter: drop-shadow(-1px 1px 1px var(--background-text)) drop-shadow(1px -1px 1px var(--background-text));
}

.batalha-screen .campo-de-batalha section div section div section h2 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin: -2px 0;
  text-shadow: var(--borda-texto);
}

.batalha-screen
  .campo-de-batalha
  section
  div
  section
  div
  section
  .batalha-sprite-vida {
  width: 70%;
  min-height: 4px;
  height: 4px;
  border: solid 2px var(--white);
  transform: skew(-50deg);
  margin: 3px 0;
}

.batalha-screen
  .campo-de-batalha
  section
  div
  section
  div
  section
  .condicoes {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;

}
.batalha-screen
  .campo-de-batalha
  section
  div
  section
  div
  section
  .condicoes
  img {
    height: 1vw;
    border: solid 2px var(--white);
    background-color: var(--light-grey);
    filter: none;
}

.batalha-screen
  .campo-de-batalha
  section
  div
  section
  .personagem-escolhido:hover {
  cursor: url(../../../../assets/img/cursors/POINTER.png), pointer;
}

.batalha-screen
  .campo-de-batalha
  section
  div
  section
  .personagem-escolhido:hover
  .sprite-personagem {
  filter: drop-shadow(-2px 2px 2px var(--white))
    drop-shadow(2px 2px 2px var(--white));
}

@keyframes battle-personagem {
  from {
    transform: translate(0px, 0);
  }
  to {
    transform: translate(0.8px, 0);
  }
}

@keyframes battle-inimigo {
  from {
    transform: translate(0.8px, 0) scaleX(-1);
  }
  to {
    transform: translate(0px, 0) scaleX(-1);
  }
}

@keyframes bright-personagem {
  from {
    filter: drop-shadow(-2px 2px 3px var(--white))
      drop-shadow(2px 2px 3px var(--white)) brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--white))
      drop-shadow(2px 2px 5px var(--white)) brightness(110%);
  }
}

@keyframes bright-inimigo {
  from {
    filter: drop-shadow(-2px 2px 3px var(--red))
      drop-shadow(2px 2px 3px var(--red)) brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--red))
      drop-shadow(2px 2px 5px var(--red)) brightness(110%);
  }
}

@keyframes bright-aliado {
  from {
    filter: drop-shadow(-2px 2px 3px var(--light-blue))
      drop-shadow(2px 2px 3px var(--light-blue)) brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--light-blue))
      drop-shadow(2px 2px 5px var(--light-blue)) brightness(110%);
  }
}

@keyframes derrotado-personagem {
  from {
    filter: drop-shadow(-2px 2px 3px var(--white))
      drop-shadow(2px 2px 3px var(--white))
      grayscale(100%)
      brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--white))
      drop-shadow(2px 2px 5px var(--white))
      grayscale(100%)
      brightness(110%);
  }
}

@keyframes derrotado-inimigo {
  from {
    filter: drop-shadow(-2px 2px 3px var(--red))
      drop-shadow(2px 2px 3px var(--red))
      grayscale(100%)
      brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--red))
      drop-shadow(2px 2px 5px var(--red))
      grayscale(100%)
      brightness(110%);
  }
}

@keyframes derrotado-aliado {
  from {
    filter: drop-shadow(-2px 2px 3px var(--light-blue))
      drop-shadow(2px 2px 3px var(--light-blue))
      grayscale(100%)
      brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--light-blue))
      drop-shadow(2px 2px 5px var(--light-blue))
      grayscale(100%)
      brightness(110%);
  }
}

@keyframes icone-ativo {
  from {
    top: -17%;
  }
  to {
    top: -12%;
  }
}

@keyframes rolar-dado-resistencia {
  0% {
    opacity: 0%;
    transform: rotate(0deg);
    color: transparent;
    text-shadow: none;
  }
  15% {
    opacity: 100%;
  }
  40% {
    transform: rotate(1080deg);
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: var(--white);
    text-shadow: var(--borda-texto);
  }
  95% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes defesa-effect-verde {
  0% {
    opacity: 0%;
    color: transparent;
    text-shadow: none;
  }
  15% {
    opacity: 100%;
    color: transparent;
    text-shadow: none;
  }
  25% {
    color: var(--white);
    text-shadow: var(--borda-texto-verde);
  }
  50% {
    color: var(--white);
    text-shadow: var(--borda-texto-verde);
  }
  95% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes defesa-effect-vermelho {
  0% {
    opacity: 0%;
    color: transparent;
    text-shadow: none;
  }
  15% {
    opacity: 100%;
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: var(--white);
    text-shadow: var(--borda-texto-vermelho);
  }
  95% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}