.batalha-screen .campo-de-batalha section div section div {
  width: fit-content;
  height: 55%;
  display: flex;
  flex-direction: column;
}

.batalha-screen .campo-de-batalha section div .inimigo-gigante div {
  width: fit-content;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.batalha-screen .campo-de-batalha section div section div .acao-effect {
  position: relative;
  bottom: 2rem;
  margin-top: -50%;
  min-height: 50%;
}

.batalha-screen .campo-de-batalha section .inimigos section div .acao-effect {
  transform: scaleX(-1);
}

.batalha-screen .campo-de-batalha section div section div .sprite-personagem {
  animation: battle-personagem 1s alternate infinite ease-in-out;
  height: 100%;
}

.batalha-screen
  .campo-de-batalha
  section
  .inimigos
  section
  div
  .sprite-personagem {
  transform: scaleX(-1);
  animation: battle-inimigo 1s alternate infinite ease-in-out;
}

.batalha-screen .campo-de-batalha section div section div .icone-ativo {
  height: 17%;
  width: 17%;
  margin-bottom: -17%;
  position: relative;
  top: -17%;
  animation: icone-ativo 1s infinite alternate-reverse ease-in-out;
  z-index: 999;
}

.batalha-screen .campo-de-batalha section div section div section {
  position: relative;
  bottom: 10%;
  width: 100%;
  height: 30%;
  color: white;
  text-shadow: var(--borda-texto);
}

.batalha-screen .campo-de-batalha section div section div section h1 {
  height: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 300;
  text-shadow: var(--borda-texto);
}

.batalha-screen .campo-de-batalha section div section div section h2 {
  height: 50%;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 300;
  margin: -2px 0;
  text-shadow: var(--borda-texto);
}

.batalha-screen
  .campo-de-batalha
  section
  div
  section
  div
  section
  .batalha-sprite-vida {
  width: 70%;
  min-height: 4px;
  height: 4px;
  border: solid 2px var(--white);
  transform: skew(-50deg);
  margin: 3px 0;
}

.batalha-screen
  .campo-de-batalha
  section
  div
  section
  .personagem-escolhido:hover {
  cursor: url(../../../../assets/img/cursors/POINTER.png), pointer;
}

.batalha-screen
  .campo-de-batalha
  section
  div
  section
  .personagem-escolhido:hover
  .sprite-personagem {
  filter: drop-shadow(-2px 2px 2px var(--white))
    drop-shadow(2px 2px 2px var(--white));
}

@keyframes battle-personagem {
  from {
    transform: translate(0px, 0);
  }
  to {
    transform: translate(0.8px, 0);
  }
}

@keyframes battle-inimigo {
  from {
    transform: translate(0.8px, 0) scaleX(-1);
  }
  to {
    transform: translate(0px, 0) scaleX(-1);
  }
}

@keyframes bright-personagem {
  from {
    filter: drop-shadow(-2px 2px 3px var(--white))
      drop-shadow(2px 2px 3px var(--white)) brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--white))
      drop-shadow(2px 2px 5px var(--white)) brightness(110%);
  }
}

@keyframes bright-inimigo {
  from {
    filter: drop-shadow(-2px 2px 3px var(--red))
      drop-shadow(2px 2px 3px var(--red)) brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--red))
      drop-shadow(2px 2px 5px var(--red)) brightness(110%);
  }
}

@keyframes bright-aliado {
  from {
    filter: drop-shadow(-2px 2px 3px var(--light-blue))
      drop-shadow(2px 2px 3px var(--light-blue)) brightness(100%);
  }
  to {
    filter: drop-shadow(-2px 2px 5px var(--light-blue))
      drop-shadow(2px 2px 5px var(--light-blue)) brightness(110%);
  }
}

@keyframes icone-ativo {
  from {
    top: -17%;
  }
  to {
    top: -12%;
  }
}
