
.versus-personagens {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-shadow: var(--borda-texto-sombra);
    background:
    linear-gradient(90deg, var(--background-text) 100%, rgba(255,255,255,0) 100%),
    linear-gradient(90deg, var(--red-transparent) 0%, var(--red-transparent) 20%, rgba(255,255,255,0) 40%,
    rgba(255,255,255,0) 60%, var(--blue-transparent) 80%, var(--blue-transparent) 100%),
    url(../../../assets/img/backgrounds/CLOUDS.png)
    ;
    background-size: 105%;
    background-position: center;
    animation: leftToRight 15s infinite alternate-reverse ease-in-out;
}

.versus-personagens .titulo {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: double 5px var(--blue);
    background-color: var(--grey);
    box-shadow: var(--box-interior);
}

.versus-personagens .titulo h1 {
    font-size: 2rem;
    margin: 0.8rem 0;
}

.versus-personagens .personagem-display {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: space-evenly;
}

.versus-personagens .personagem-display img {
    height: 100%;
    position: relative;
    top: 25%;
}

.versus-personagens .personagem-display .versus-icon {
    height: 35%;
    margin-bottom: 5%;
}

.versus-personagens .personagem-display section {
    height: 40%;
    width: 15%;
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.versus-personagens .personagem-display section div {
    height: 5vw;
    width: 5vw;
    border: solid 2px var(--black);
    margin: 3px;
}

.versus-personagens .personagem-display section div img {
    height: 100%;
    position: static;
}

.versus-personagens .personagem-display .aliados-escolhidos {
    right: 0;
}

.versus-personagens .personagem-display .inimigos-escolhidos {
    left: 0;
}

.versus-personagens .personagens-list {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0%;
}

.versus-personagens .personagens-nomes {
    height: 10%;
    width: 75%;
    display: flex;
    align-items: self-end;
    justify-content: space-between;
    position: relative;
}

.versus-personagens .personagens-nomes div {
    height: 75%;
    padding: 0 1rem;
    background-color: var(--black-transparent);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.versus-personagens .personagens-nomes div img {
    height: 2rem;
    margin-right: 0.3rem;
}

.versus-personagens .personagens-nomes div h1 {
    margin: 0;
    font-size: 2.25rem;
}

.versus-personagens .personagens-list section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: double 5px var(--blue);
    background-color: var(--black-transparent);
}

.versus-personagens .personagens-list section .setas {
    height: 3rem;
    width: 3rem;
    border: none;
    background: none;
    opacity: 50%;
    margin: 0 0.5rem;
}

.versus-personagens .personagens-list section .setas:hover {
    opacity: 100%;
}

.versus-personagens .personagens-list section .setas img {
    height: 100%;
}

.versus-personagens .personagens-list section ul {
    width: 77vw;
    height: 100%;
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: double 5px var(--blue);
    border-right: double 5px var(--blue);
    background-color: var(--black-transparent);
}

.versus-personagens .personagens-list section ul li {
    margin: 2px;
    height: 7vw;
    width: 7vw;
    border: solid 2px var(--black);
    background-color: var(--white);
}

.versus-personagens .personagens-list section ul li:hover {
    cursor: var(--cursor-pointer);
    border-color: var(--cyan);
    filter: brightness(125%);
    box-shadow: var(--box-brilho);
}

.versus-personagens .personagens-list section ul .card-escolhido {
    border-color: var(--cyan);
    filter: brightness(125%);
    box-shadow: var(--box-brilho);
}

.versus-personagens .personagens-list section ul li img {
    height: 100%;
}

.versus-personagens .personagens-list section ul .concluido {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-personagens .menu-opcoes {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: self-start;
    justify-content: center;
    border-top: double 5px var(--blue);
    background-color: var(--grey);
    box-shadow: var(--box-interior);
}

.versus-personagens .menu-opcoes button {
    margin: 0.5rem;
}

.versus-personagens .menu-opcoes .paginacao {
    position: absolute;
    right: 10%;
    margin: 0 1rem;
    font-weight: 100;
    font-size: 2rem;
}

.versus-personagens .personagem-modal {
    width: 75%;
    height: 85%;
    border: double 5px var(--blue);
    background-color: var(--fundo-janela);
    box-shadow: var(--box-interior);
}

.versus-personagens .personagem-modal header {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-personagens .personagem-modal header .titulo-modal {
    margin: 0;
    font-size: 2.5rem;
    padding: 0 2rem;
    border-bottom: solid 2px var(--background-text);
}

.versus-personagens .personagem-modal section {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-personagens .personagem-modal section .personagem-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start;
}

.versus-personagens .personagem-modal section .personagem-info h1 {
    margin: 10px 0 10px 1rem;
    font-size: 1.75rem;
}

.versus-personagens .personagem-modal section .personagem-info header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.versus-personagens .personagem-modal section .personagem-info header div {
    display: flex;
    align-items: center;
    height: 100%;
}

.versus-personagens .personagem-modal section .personagem-info header div h1 {
    margin: 0;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.versus-personagens .personagem-modal section .personagem-info header div h2 {
    margin: 0 1rem;
    font-weight: 100;
    font-size: 2rem;
}

.versus-personagens .personagem-modal section .personagem-info header div button {
    border-radius: 5px;
    border: solid 2px var(--black);
    font-family: textFont, sans-serif;
    font-weight: 500;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    width: 1.75rem;
    height: 1.75rem;
    transition: all 0.1s;
}

.versus-personagens .personagem-modal section .personagem-info header div button:hover {
    transition: all 0.1s;
    background-color: var(--light-blue);
    border-color: var(--blue);
}

.versus-personagens .personagem-modal section .personagem-info header div .botao-vazio {
    opacity: 0%;
}

.versus-personagens .personagem-modal section .personagem-info header div .botao-vazio:hover {
    cursor: var(--cursor-auto);
}

.versus-personagens .personagem-modal section .personagem-info header div img {
    height: 3rem;
}

.versus-personagens .personagem-modal section .personagem-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
}

.versus-personagens .personagem-modal section .personagem-info ul li {
    width: 45%;
    height: 20%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 5%;
    background-color: var(--fundo-destaque);
}

.versus-personagens .personagem-modal section .personagem-info ul li div {
    height: 100%;
    display: flex;
    align-items: center;
}

.versus-personagens .personagem-modal section .personagem-info ul li div img {
    height: 70%;
    margin-right: 5px;
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos {
    margin: 10px 0 10px 1rem;
    display: flex;
    flex-direction: column;
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos header {
    font-size: 1.75rem;
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos header div {
    font-size: 1.25rem;
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos header button {
    border: none;
    border-radius: 0;
    background: none;
    transition: none;
    margin: 0 0.5rem;
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos header button:hover {
    cursor: var(--cursor-auto);
    background: none;
    transition: none;
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos header img {
    opacity: 75%;
    height: 1.5rem;
    margin: 0 1rem;
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos header img:hover {
    opacity: 100%;
    cursor: var(--cursor-pointer);
}


.versus-personagens .personagem-modal section .personagem-info .equipamentos section{
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos section div {
    margin: 0 5px;
    width: 3rem;
    height: 3rem;
    border: solid 2px var(--black);
    background-color: var(--grey);
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos section div:hover {
    cursor: var(--cursor-pointer);
}

.versus-personagens .personagem-modal section .personagem-info .equipamentos section div img {
    height: 100%;
}

.versus-personagens .personagem-modal section .personagem-visual {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-personagens .personagem-modal section .personagem-visual div {
    height: 100%;
}

.versus-personagens .personagem-modal section .personagem-visual div h1 {
    margin: 0;
    height: 15%;
    margin-bottom: -15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.versus-personagens .personagem-modal section .personagem-visual div img {
    height: 100%;
}

.versus-personagens .personagem-modal section .personagem-visual button {
    background: none;
    border: none;
    opacity: 50%;
    height: 3rem;
    width: 3rem;
}

.versus-personagens .personagem-modal section .personagem-visual button:hover {
    opacity: 100%;
}

.versus-personagens .personagem-modal section .personagem-visual .setas {
    height: 100%;
    position: relative;
}

.versus-personagens .personagem-modal footer {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


@media screen and (max-height: 479px) {

    .versus-personagens .menu-opcoes button {
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }

    .versus-personagens .personagens-list section ul li {
        margin: 0;
        height: 6.5vw;
        width: 6.5vw;
    }

    .versus-personagens .personagens-list header div h1 {
        font-size: 1.5rem;
    }

    .versus-personagens .menu-opcoes .paginacao {
        font-size: 1.5rem;
    }
    
    .versus-personagens .personagem-modal {
        height: 95%;
    }

    .versus-personagens .personagem-modal section .personagem-info ul li {
        font-size: 1rem;
    }

    .versus-personagens .personagem-modal footer {
        width: 50%;
        margin-left: 50%;
    }

    .versus-personagens .personagem-modal footer button {
        font-size: 1.5rem;
    }

    .versus-personagens .personagem-modal section .personagem-info h1 {
        font-size: 1.25rem;
    }

    .versus-personagens .personagem-modal section .personagem-info .equipamentos header {
        font-size: 1.25rem;
    }
    
    .versus-personagens .personagem-modal section .personagem-info .equipamentos header div {
        font-size: 1rem;
    }

    .versus-personagens .personagem-modal section .personagem-info header div h1 {
        font-size: 2rem;
    }

    .versus-personagens .personagem-modal section .personagem-info header div h2 {
        font-size: 1.5rem;
    }

    .versus-personagens .personagem-modal section .personagem-info header div img {
        height: 2rem;
    }

    .versus-personagens .personagem-modal section .personagem-info header div button {
        font-size: 2rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    .versus-personagens .personagem-modal section .personagem-visual div h1 {
        font-size: 1.5rem;
        white-space: nowrap;
    }
    .versus-personagens .personagem-display img {
        height: 85%;
    }
    .versus-personagens .personagens-nomes div h1 {
        font-size: 1.75rem;
    }
    .versus-personagens .personagem-display section {
        height: 35%;
        top: 15%;
    }
    .versus-personagens .personagem-display section div {
        height: 4.5vw;
        width: 4.5vw;
    }
  
}